.no_margin {
	font-weight: bold;
	font-size: 22px;
 	margin: 0;
  	padding-bottom: 10px;
  	line-height: 0;
}

.no-margin-p {
	font-size: 16px;
  	padding-bottom: 10px;
  	margin-bottom: 0;
}

.no_margin-1 {
	font-weight: bold;
	font-size: 18px;
 	margin: 0;
  	padding-bottom: 10px;
  	line-height: 0;
}

.margin-mosenergo {
	font-weight: bold;
	font-size: 22px;
	margin: 0;
  	padding-bottom: 5px;
  	line-height: 1;
}

.margin-voen {
	font-weight: bold;
	font-size: 22px;
 	margin: 0;
  	padding-bottom: 10px;
  	line-height: 0;
}

.margin-money {
	font-size: 22px;
 	margin: 0;
  	padding-bottom: 20px;
  	line-height: 0;
}

.margin-money-p {
	font-size: 16px;
}